:root {
    --lightblue: #add8e6;
    --darkblue: #191970;
    --ghostwhite: #f8f8ff;
    --stealblue: #4682b4;
    --royalblue: #4169e1;
}

body {
  background-image: linear-gradient(
    rgba(252, 252, 252, 0.3) 0%,
    rgba(64, 123, 240, 0.6) 100%
  );
}


  