:root {
    --lightblue: #add8e6;
    --darkblue: #191970;
    --ghostwhite: #f8f8ff;
    --stealblue: #4682b4;
    --royalblue: #4169e1;
}

body {
  line-height: 1.5;
  background-image: linear-gradient(
    rgba(252, 252, 252, 0.3) 0%,
    rgba(64, 123, 240, 0.6) 100%
  );
  color: var(--darkblue);
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  width: 96%;
}

header {
  background-color: var(--lightblue);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  width: 100%
}

header img {
  height: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  float: left;
  margin: 0 25px;
  margin-bottom: 10px;
  border-radius: 25px;
}

.about-me{
  display:flex;
  flex-wrap: wrap;
  margin-left: 3%;
  justify-content: center;
  font-family: sans-serif
}

.name {
    text-align: left;
    font-style: italic;
    font-weight: bold;
    margin-left: 3%;
}

nav ul { 
  display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
}

nav a {
    color: var(--darkblue);
    font-weight: bold;
    text-decoration: none;
  }

#about-me {
  display:flex;
  flex-wrap: wrap;
  margin-left: 2%;
}

#my-work {
  display:flex;
  flex-wrap: nowrap;
  margin-left: 90%;
}

#contact-info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;
}

aside {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  flex-direction: row;
  justify-content: center;
}



.first-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 0 50%;
}


.first-project img {
  height: 700px;
  flex-grow: 0;
  flex-shrink: 0;
  float: left;
  margin: 0 25px;
  margin-bottom: 10px;
  border-radius: 25px;
}
.card {
  flex: 0 0 25%;
  padding: 10px;
  text-align: center;
  flex-direction: row
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card img {
  height: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 10px;
  border-radius: 25px;
}

.contact {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100%;
  }

  .card {
    flex: 0 0 50%;
    max-width: 33%;
  }

  .first-project {
    flex: 0 0 75%;
    max-width: 100%
  }
}


  